<div class="header">
  <h1>Hair salon welcomes everyone,</br><spam id="head">  so long as you have a head.</spam></h1>
</div>

<div class="container">
  <button class="button button1"><a href="/stylists">View All Stylists</a></button>
  <button class="button button2"><a href="/stylists/new">Add New Stylist</a></button>
</div>
