<h1>Saved Successfully.</h1>

<div class="container">
  <button class="button button1"><a href="/stylists">View All Stylists</a></button>
  <button class="button button2"><a href="/stylists/new">Add another Stylist</a></button>
</div>
