<h3>Please insert your name if you are a stylist. </br>This is to create a simple account for you to view your clients.</h3>
<form action="/stylists" method="post">
  <input id="stylist" name="stylist" type="hidden" required>

  <label for="name">Name of the stylist:</label>
  <input id="name" name="name" type="text">

  <button class="button button3" type="submit" >Add stylist</button>
</form>

<hr>
<div class="container">
  <button class="button button1"><a href="/">Home</a></button>
  <button class="button button2"><a href="/stylists">View All Stylists</a></button>
</div>
